*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: cursive;
}
html{
    overflow-x: hidden;
}
i{
    font-size: 2rem;
    cursor: pointer;
}
i:hover{
    color: red;
}
.section{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image:linear-gradient(0deg , rgb(0 0 0 /40%) 50%, transparent), url('../Images/2.jpg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section .tempbox{
    border: 1px solid black;
    margin: 1.5rem 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 5px #fff;
    border-radius: 5px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.737) 5%,transparent 40% 100%);
    animation: glow 1s ease-in-out infinite;
}
@keyframes glow{
    0%{
        box-shadow: 0 0 5px #fff;
    }
    50%{
        box-shadow: 0 0 15px #fff;
    }
    100%{
        box-shadow: 0 0 5px #fff;
    }
}
.section .temp-heading{
    text-align: center;
    line-height: 5rem;
    width: 100%;
    word-wrap: break-word;
}
.temp-heading h2{
    font-size: 3rem;
    color: cyan;
}
.temp-heading h2 span{
    background: linear-gradient(45deg,red 30%,yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-right: 0.5rem;
}
.section .tempbox-content{
    margin: 1rem 0.5rem;
    padding: 1rem;
    backdrop-filter: blur(3px);
    text-align: center;
    
}
.tempbox-content .valueinput{
    border: 1px solid #fff;
    width: 70%;
    font-size: 2rem;
    border-radius: 10px;
    background: rgb(0 0 0 /40%);
    line-height: 5rem;
    padding: 0 1rem;
    outline: none;
}
.tempbox-content .converter{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    align-items: center;
}
.tempbox-content .selection{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.section .divider{
    text-align: center;
}
.divider label{
    font-size: 2.0rem;
    margin-bottom: 1rem;
}
.converter select{
    background: transparent;
    font-size: 2rem;
    width: 80%;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgb(0 0 0 /90%);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0 0.5rem;
}
.converter select option{
    color: black;
    background: rgb(0 0 0 /40%);
}
.converter .main-btn{
    background: rgba(63, 143, 148, 0.9);
    width: 80%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    line-height: 4rem;
    transition: all 0.25s ease-in-out 0s;
    cursor: pointer;
}
.converter .main-btn:hover,
.converter .main-btn:active{
    background:  rgba(63, 143, 148, 0.4);;
}
.converter .resultvalue{
    font-size: 4rem;
    /* color: transparent; */
    background: linear-gradient(0deg,red 0% 30%,orange 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}